:root {
/*
    --main-bg-color: #f9f9f9;
    --secondary-bg-color: #f5f5f5;
    --tertiary-bg-color: #d1d1d1;
    --main-fg-color: #05070a;
    --secondary-fg-color: #a1a1a1;
    --tertiary-fg-color: #e5ebfb;
*/
    --main-bg-color; #151623;
    --secondary-bg-color: #f5f5f5;
    --tertiary-bg-color: #62649e;
    --main-fg-color: #f0f3f5;
    --secondary-fg-color: #62649e;
    --tertiary-fg-color: #333554;
}

* {
    font-family: 'Maven Pro', sans-serif;
    z-index: 0;
    color: var(--main-fg-color);
}

*:focus {
    outline: 1px solid var(--secondary-bg-color);
}

body {
    overflow: hidden;
}

#placeholder, #drag-and-drop, #bee-placeholder {
    background-color: var(--main-bg-color);
    text-align: center;
    margin-top: 30vh;
    color: var(--secondary-fg-color);
    margin-top: 0px;
    padding: 20vh;
    border: 1px solid var(--tertiary-fg-color);
    box-shadow: 2px 2px var(--tertiary-fg-color);
}

#drag-and-drop {
    margin-top: 2vh;
    padding: 10vh;
    font-weight: bold;
}

#drag-and-drop p {
    color: var(--secondary-fg-color);
}

#bee-placeholder {
    margin-bottom: 20px;
    border: 0px;
    box-shadow: 0px 0px;
}

#bee-placeholder h3 {
    color: var(--secondary-fg-color);
}

.tab {
    overflow: hidden;
    background-color: var(--main-bg-color);
    cursor: pointer;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 20px;
    transition: 0.3s;
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
    color: var(--secondary-fg-color);
}

.tab button:hover {
    background-color: var(--tertiary-fg-color);
}

.tab button.active {
    background-color: var(--tertiary-fg-color);
    color: var(--main-fg-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th, td {
    padding: 12px;
    text-align: left;
    color: var(--main-fg-color);
}

th {
    font-weight: bold;
    background-color: var(--tertiary-bg-color);
}

tr:hover {
    background-color: var(--tertiary-fg-color);
}

/* CSS for the page */
body {
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 30px;
}

#search {
    border-radius: 10px;
    margin-right: 4vw;
    display: flex;
    margin-top: 3vh;
    width: 100%;
}

#public-key, #description, #bee-name {
    display: block;
    padding: 12px;
    font-size: 100%;
    border-radius: 5px;
    border:none;
    margin-top: 3%;
    width: 80%;
    background-color: var(--main-bg-color);
    border: 1px solid var(--tertiary-fg-color);
    box-shadow: 2px 2px var(--tertiary-fg-color);
    color: var(--main-fg-color)
}

#bee-name {
    width: 27vw;
}

#select-type {
    display: block;
    width: 10vw;
    padding: 10px;
    font-size: 100%;
    border-radius: 5px;
    border:none;
    margin-top: 3%;
    border: 1px solid var(--tertiary-fg-color);
    box-shadow: 2px 2px var(--tertiary-fg-color);
    border-right: 16px solid transparent;
    background-color: var(--secondary-fg-color);
    color: var(--main-fg-color);
    margin-bottom: 3%;
}

option {
    background-color: var(--tertiary-fg-color);
}

#add-button, #add-bee-button {
    padding: 12px;
    border-radius: 5px;
    margin-top: 3%;
    border: 1px solid var(--tertiary-fg-color);
    box-shadow: 2px 2px var(--tertiary-fg-color);
    cursor: pointer;
    width: 15%;
    text-align: center;
}

.disabled {
    display: none;
}

#add-form {
    padding: 0px;
}

#seeders {
    display: inline;
    float: right;
}

#view-public-key {
    border: 1px solid var(--tertiary-fg-color);
    box-shadow: 2px 2px var(--tertiary-fg-color);
    border-radius: 10px;
    background-color: var(--main-bg-color);
    padding-left: 20px;
}

#view-public-key p {
    color: var(--secondary-fg-color);
}

.disabled-button {
    background-color: var(--tertiary-fg-color);
    color: var(--main-bg-color);
}

.enabled-button {
    background-color: var(--secondary-fg-color);
}

.remove-button {
   font-weight: bold;
   text-decoration: underline;
   cursor: pointer;
}

#view-table {
    height: 53vh;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid var(--tertiary-fg-color);
    box-shadow: 2px 2px var(--tertiary-fg-color);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--main-bg-color)
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-fg-color)
}

.checkbox {
  transform: scale(1.25);
  margin-left: 1%;
}
